@page "/"

@page "/mypage"

<div class="container">
    <h2 class="center">Лабораторная робота 3</h2>
    <p class = "center">Файл «Жильці» містить інформацію у такому форматі: код жильця, прізвище жильця, адреса. 
        Кожний рядок файлу «Оплата» містять інформацію про сплату за послуги у такій формі: код жильця, 
        вид послуги, (вода, газ, …), сплачена сума, дата сплати (кількість послуг наперед не лімітована). Розв’язати наступні задачі:
    </p>
    <ol>
        <li class="center">Знайти середні сплати за газ у поточному місяці усіх жильців, які проживають на заданій вулиці.</li>
        <li class="center">Вивести назву послуги, за яку загалом сплачено найбільшу суму за останній квартал.</li>
    </ol>
</div>
