@page "/"
@using LaboratoryWork3.Shared

<h3>Test</h3>

<button @onclick="ShowModalLogin" class="btn btn-primary">Login</button>
<button @onclick="ShowSignUpModal" class="btn btn-secondary">Sign Up</button>

<ModalLogin @ref="ModalLoginComponent"></ModalLogin>
<ModalSignUp @ref="SignUpModalComponent"></ModalSignUp>

@code {
    private ModalLogin ModalLoginComponent;
    private ModalSignUp SignUpModalComponent;

    private void ShowModalLogin()
    {
        ModalLoginComponent.Show();
    }

    private void ShowSignUpModal()
    {
        SignUpModalComponent.Show();
    }

}